# 10 hard questions

In [1]:
!ls -ltr *.csv *.json

-rw-rw-r-- 1 catskills catskills  7465981 May  3 22:30 questions.json
-rw-rw-r-- 1 catskills catskills  2318839 May  6 03:32 resolved.json
-rw-rw-r-- 1 catskills catskills 17323643 May  6 18:35 wow.json
-rw-rw-r-- 1 catskills catskills 17346865 May  7 17:58 run_with_predictions.json
-rw-rw-r-- 1 catskills catskills 17361581 May  7 18:00 scored.json
-rw-rw-r-- 1 catskills catskills   151599 May  8 14:23 readme.csv
-rw-rw-r-- 1 catskills catskills    82561 May 20 16:08 community_results.json
-rw-rw-r-- 1 catskills catskills     2540 May 27 19:27 rag_system_report.json
-rw-rw-r-- 1 catskills catskills     1769 Jun 16 21:06 debug.json
-rw-rw-r-- 1 catskills catskills 55730809 Jun 16 21:10 community_local_results.json
-rw-rw-r-- 1 catskills catskills   563629 Jun 16 21:10 community_local.csv
-rw-rw-r-- 1 catskills catskills   563629 Jun 16 21:11 comm_perp.csv

In [2]:
import pandas as pd

In [4]:
df_local = pd.read_csv('community_local.csv')
df_local.head(3)

,Unnamed: 0,title,question_type,prediction,crowd,error
0,0,"If humanity goes extinct, will another intelli...",binary,0.25,0.4,0.15
1,1,Will Iran possess a nuclear weapon before 2041?,binary,0.4,0.69,0.29
2,2,Will any country trigger article 50 to leave t...,binary,0.12,0.11,0.01

In [5]:
df_perp = pd.read_csv('comm_perp.csv')
df_perp.head(3)

,Unnamed: 0,title,question_type,prediction,crowd,error
0,0,"If humanity goes extinct, will another intelli...",binary,0.25,0.4,0.15
1,1,Will Iran possess a nuclear weapon before 2041?,binary,0.4,0.69,0.29
2,2,Will any country trigger article 50 to leave t...,binary,0.12,0.11,0.01